@page "/transactions"
<NavMenu />
<h3>add_expenses</h3>
<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudTextField T="string" Label="Filled" Variant="Variant.Filled"></MudTextField>
    </MudContainer>
</MudMainContent>

@code {

}
